@font-face {
    font-family: oxygensans;
    src: url(fonts/Oxygen-Sans_gWQKnw1WJX4Ac4R2veHB.ttf);
}

@font-face {
    font-family: hackmono;
    src: url(fonts/Hack-Regular_6WScYnCmJjPHkbcuNhlP.ttf);
}

body {
    font-family: "Oxygen-Sans", oxygensans, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.fingerprint {
    font-family: "Hack", hackmono, monospace;
}

.secondary {
    color: grey;
}
